* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FF7420;
    --secondary-color: #191A19;
    --text-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    padding: 3rem;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
    background-color: var(--secondary-color);

}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.cta_btn {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #fff;
}

.cta_btn:hover {
    scale: 1.05;
    color: #fff;
}

.logo {
    max-width: 50%;
}

.logo img {
    width: 25%;
    padding-top: 10px;
}

.toggle_btn i {
    color: var(--text-color);
}

/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .cta_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO SECTION */
.hero_section {
    background: url(../images/hero_img.png);
    background-size: cover;
    width: 100%;
}

.hero_column {
    width: 50%;
}

.hero_title {
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 600;
}

.hero_span {
    color: var(--primary-color);
}

.hero_subtitle {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 2rem 0;
}

.hero_btn {
    display: flex;
    gap: 50px;
}

.hero_services {
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
}

.hero_projects {
    background-color: var(--text-color);
    color: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
}

.hero_services:hover,
.hero_projects:hover {
    scale: 1.05;
}

/* ABOUT SECTION */
.about_section {
    background-color: var(--secondary-color);
}

.counter,
.about_columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experience_counter,
.projects_counter {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.experience_number,
.projects_number {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
}

.about_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_img img {
    width: 400px;
}

.about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

.about_content span {
    color: var(--primary-color);
}

.about_content h3 {
    font-size: 3rem;
}

.about_content h4 {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    margin: 1rem 0;
}

/* SERVICES SECTION */
.services_section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_section h3 {
    font-size: 3rem;
}

.services_contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
    border: none;
    border-radius: 10px;
    gap: 50px;
}

.services_contents span,
.services_contents p {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.services_contents span {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.75rem 0;
}

.services_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_card img {
    width: 275px;
    border-radius: 10px;
}

/* PROJECTS SECTION */
.projects_section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_section h3 {
    font-size: 3rem;
}

.projects_contents,
.review_contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem 0;
    border: none;
    border-radius: 10px;
    gap: 10px;
}

.projects_contents span,
.projects_contents p {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.projects_contents span {
    font-size: 1.25rem;
    font-weight: 500;
}

.project_card img {
    width: 275px;
    border-radius: 10px;
}

/* REVIEWS SECTION */
.checked {
    color: var(--primary-color);
}

.reviews_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews_section h3 {
    font-size: 3rem;
}

.review_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
}

.review_rating {
    margin: 1rem 0;
}

/* CONTACT SECTION */

.contact_section {
    background:
        /* top, transparent red */
        linear-gradient(rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.85)),
        /* bottom, image */
        url(../images/contact_img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.contact_section h3 {
    font-size: 3rem;
    text-transform: capitalize;
}

.contact_points_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.75rem 0;
}

.contact_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.contact_form,
.contact_details {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contact_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

input, select {
    width: 100%;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    background: var(--text-color);
    border-radius: 10px;
}

textarea {
    resize: none;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
}

.contact_content h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.contact_details span {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: underline;
}

.contact_details p {
    margin: 0.75rem 0;
}

.contact_form button {
    background-color: var(--text-color);
    color: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 0.75rem 0;

}

/* FOOTER SECTION */

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.footer_content h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.footer_logo, .footer_about, .footer_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo {
    justify-content: center;
}

.footer_logo img {
    width: 200px;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {

    .logo {
        max-width: 100%;
    }

    .navbar .links,
    .navbar .cta_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .hero_column {
        width: 60%;
    }

    .about_img img {
        width: 350px;
    }

    .projects_contents,
    .review_contents {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact_content, .footer_content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .hero_column {
        width: 100%;
    }

    .hero_title {
        font-size: 3rem;
    }

    .hero_subtitle {
        font-size: 1.25rem;
    }

    .hero_btn {
        gap: 10px;
    }

    .counter,
    .about_columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .about_img img {
        width: 300px;
    }

    .projects_contents,
    .review_contents {
        grid-template-columns: repeat(1, 1fr);
    }

    section {
        padding: 1rem;
    }

    .contact_section h3 {
        font-size: 2rem;
    }

    .contact_points_list, .contact_col, .footer_content {
        grid-template-columns: repeat(1, 1fr);
    }
}